<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center" style="position: relative; margin-bottom: 0px; display: flex; flex-direction: column; flex-shrink: 1 0 auto;">
    <small class="copyright">2019 Faith in Femininity</small><br>
    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> and <a href="http://randykinne.me" target="_blank">Randy Kinne</a></small>
  </div><!--//container-->
</footer><!--//footer-->
