<div class="pagination">
    <div class="text-center" style="display: inline-block;">
    {% if paginator.previous_page %}
        <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="text-center">«</a>
    {% else %}
        <span class="previous hidden">«</span>
    {% endif %}

    <span class="text-center">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
        <a href="{{ site.url }}{{ paginator.next_page_path }}" class="text-center">»</a>
    {% else %}
        <span class="next hidden">»</span>
    {% endif %}
    </div>
</div>
